*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.Profile{
	height: 100vh;
	width: 100%;
    /* background-color: rgb(20, 45, 189); */
	background-color: black;
	/* background-image: url(../img/mypi.jpg); */
	background-size: cover;
	background-position: center;
}
.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0 0 var(--black);
    border-radius:50%;
    height: 360px;
    width: 450px;
    margin: 100px 0 0 100px;
    margin-left: 60%;
    
  }
  
  .profile-picture-background {
    height: 150%;
    width: 200%;
    background-image: url("../img/pic1.jpg");
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
	box-shadow: #fff;
	
  }
  .profile-picture:hover{
	/* box-shadow: 0 5px 10px 0 rgba(49, 48, 48, 0.5), 0 7px 21px 0 rgba(24, 24, 24, 1);
   */
  
}

  /* navbar section */
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #f9004d;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
    background-size: 50px;
}

nav ul li a{
	color: white;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	
	transition: .4s;
    color: #f9004d;
}
/* Profile content */

.Profile-content{
	cursor: pointer;
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
    
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}
#hire-me{
    font-size: 20px;
}

.profile-options .highlighted-btn {
    margin: 0 0 0 28px;
    background-color:orangered;
    color: #fff;
    font-size: 20px;
  }
  .profile-options .highlighted-btn:hover {
    margin: 0 0 0 28px;
    background-color: transparent;
  }

/* about section */
.about{
	width: 100%;
    height: auto;
	padding: 100px 0px;
	background-color: rgb(167, 43, 105);
}
.about img{
	height: 490px ;
	width: 430px;
    border-radius: 5px;
}
.about-text{
	
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.service{
	background: lightcoral;
	width: 100%;
	height: 80%;
	padding: 80px 0px;
	opacity: 2;
}
.title h2{
	color: #fff;
	font-size: 75px;
	width: 700px;
	margin: 120px auto;
	margin-top: -10px;
	padding: 10px 0 ;
	text-align: center;
	box-shadow: 0 5px 10px 0 rgba(49, 48, 48, 0.5), 0 7px 21px 0 rgb(131, 125, 125);
    background-color: #f9004d;
}
.box{
	display:flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}


/* skills-content */
.skills-content{
	display: block;
	width: 100%;
	height: 150%;
	background: wheat;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 8%;
}
.skills-content h2{
    color: #fff;
	font-size: 50px;
	font-weight: bold;
	margin:  90px;
	padding: 10px;
	box-shadow: 0 5px 10px 0 rgba(49, 48, 48, 0.5), 0 7px 21px 0 rgb(131, 125, 125);
    background-color: #f9004d;
}
.skills-gallery{
	display: flex;
}
.skills-gallery a img {
	width: 130px;
	height: 100px;
	text-align: center;
	border-radius: 0%;	
	margin: 50px 20px;
}
.skills-gallery a img:hover{
	box-shadow: 0 5px 10px 0 rgba(49, 48, 48, 0.5), 0 7px 21px 0 rgba(24, 24, 24, 1);
    border-radius: 50%;
}

.contact-me{
	width: 100%;
	height: 290px;
	background: rgb(155, 15, 85);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-me .button-two{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 300px;
	background: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 10px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#f9004d;
	bottom: 35px;
	font-size: 14px; 
}
.resume-show{
	align-items: center;
	margin-left: 300px;
	scroll-snap-align: none;
	overflow-y: scroll;
	overflow-x: hidden;
}